body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: black;
    justify-content: center;
    display: flex;
}
.switch-container{
    width: 20%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.switch-cover{
    background-color: grey;
    height: 150px;
    width: 100px;
    box-shadow: 0px 0px 5px darkgrey;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
}
.screw{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: darkgrey;


}
.switch{
    width: 60%;
    height: 60%;
    background-color: linear-gradient(darkgrey,grey);
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black ;
    border-bottom: 6px solid darkgrey;
    

}
.on{
    background: linear-gradient(grey, darkgrey);
    border-bottom:1px solid black ;
    border-top: 6px solid darkgrey;

}
.bulb-container{
    height: 100px;
    width: 50%;
}
.wire{
    height: 220px;
    width: 10px;
    background: grey;
    margin: 0px auto;
}
.wire-connection{
    height: 15px;
    width:  15px;
    background: dimgrey;
    margin: 0px auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: -5px;
}
.socket-top{
    height: 20px;
    width: 50px;
    background-color: grey;
    margin: 0px auto;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom: 1px solid black;


}
.socket-bottom{
    height: 25px;
    width: 50px;
    background-color: grey;
    margin: 0px auto;

}
.socket-back{
    width: 50px;
    height: 20px;
    background: grey;
    margin: 0px auto;
    opacity: 0.5;
    border-radius: 50%;
    margin-top: -12px;
    
}
.bulb-top{
    height: 30px;
    width: 46px;
    background-color: lightgrey;
    margin: 0px auto;
    margin-top: -10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.bulb-bottom{
    height: 80px;
    width: 80px;
    background-color: lightgrey;
    margin: 0px auto;
    border-radius: 50%;
    margin-top: -10px;
}
.bulbOn{
    background-color: lightyellow;
    box-shadow: 0px 10px 200px 20px lightyellow;
}